crewai
crewai_tools
chromadb
sentence-transformers
streamlit
langchain_community
python-dotenv
langchain_groq
faiss-cpu
tavily-python
embedchain
langchain
ollama
certifi
urllib3
apscheduler
schedule
plotly
